body{
  font-family: 'Lato', 'sans-serif';
}

.container {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: hidden;
      /* Prevent horizontal scroll */

  }

  * {
    box-sizing: border-box;
  }
  
  
.content {
    height: 374px;
    margin-left: 50px;
    margin-top: 40px;
    width: 601px;
    display: flex;
    flex-direction: column;
  }

.head{
    line-height: 66px;
    width: 601px;
    height: 132px;
    font-size: 56px;
    font-weight: bold;
  }

  .description{
    margin-top: 0px;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    width: 566px;
    height: 128px;
  }

  .btn{
    background-color: #333333;
    border-radius: 50px;
    width: 222px;
    height: px;
    padding: 20px 24px;
    font-family: inherit;
    font-size: 22px;
    color: #FFFFFF;
  }
  .card{
    margin-top: 50px;
  }

  .frame1{
    display: flex;
    justify-content: space-between;
    
  }

  .box1{
    width: 273px;
    height: 161px;
    padding-top: 5px;
    padding-right: 22px;
    padding-bottom: 5px;
    padding-left: 20px;   
    text-align: left;
    background-color: #C6D9E1;
    border-radius: 24px;
  }
  .para{
    font-size: 16px;
    font-family: inherit;
  }
  .frame2{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .box3{
    display: flex;

    background-color: #F4F4F4;
    padding-top: 5px;
    padding-right: 22px;
    padding-bottom: 5px;
    padding-left: 20px;
    width: 900px;
    height: 161px;
    border-radius: 40px;
    text-align: left;
  }
  .box2{
    width: 300px;
    height: 161px;

    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 20px; 
    background-color: #F4F4F4;
    border-radius: 24px;
  }
  

  
.image{
  width: 118px;
  height: 113px;
  padding: 25px;
  padding-left: 50px;

}
 

  .lock {
    /* background-color: lightblue; */
    padding: 40px;
    position: relative;
    width: 725px;
    height: 822; /* Adjust width as needed */
    text-align: center;

  }

  .para1{
    width: 307px;
    height: 76px;
  }
  